apiVersion: v1
kind: Secret
metadata:
  name: order-service-secret
type: Opaque
data:
  MONGODB_URI: bW9uZ29kYitzcnY6Ly8zN20yZF9kYl91c2VyOkhIcWgyakJYemdEcE9HeFJAY2x1c3RlcjAuc290dW9xeC5tb25nb2RiLm5ldC9lY29tbWVyY2VfdXNlcnM=
  CART_SERVICE_URL: aHR0cDovL2xvY2FsaG9zdDozMDAz
  PRODUCT_SERVICE_URL: aHR0cDovL2xvY2FsaG9zdDozMDAy
  USER_SERVICE_URL: aHR0cDovL2xvY2FsaG9zdDozMDAx
  
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: shrijatin/order
          ports:
            - containerPort: 3004
          env:
            - name: PORT
              value: "3004"
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: MONGODB_URI
            - name: CART_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: CART_SERVICE_URL
            - name: PRODUCT_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: PRODUCT_SERVICE_URL
            - name: USER_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: order-service-secret
                  key: USER_SERVICE_URL

---

apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-service
  ports:
    - port: 3004
      targetPort: 3004